@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.main{
    height: 100vh;
    width: 100vw;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
.header{
    height: 90%;
    width: 100%;
    background-color: rgb(159, 198, 46);
}
.nav
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header_container{
    height: 50%;
    width: 95%;
    margin: 0 auto;
    margin-top: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.3rem;
   
   
    
}
.heding_logo{
    height: 71.5px;
    width: 380px;
   /* margin-top: 0.3rem; */
   margin-bottom: 0.5rem;
   /* padding-top: 1rem; */
}
.header_desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.8rem;
    color: white;
}
.heading_clinic{
    font-size: 43px;
    margin-top: 1.5rem;
    font-weight: 600;
}
.heading_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
}
.heading_check{
      font-size: 35px;
    width: 72%;
    /* margin: 0 auto; */
    text-align: center;
    line-height: 3.5rem;
    
}
.para_desc{
    color: rgba(77, 77, 77, 0.9);
    font-size: 18px;
}
.heading_form{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70%;
}
.form_info{
      display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 0.6rem;
   
    margin-top: 2rem;
}
.text_info{
    font-size: 20px;
    text-align: lefts;
}
.input{
    height: 30px;
    font-size: 20px;
    padding: 0.4rem;
    border-radius: 5px;
    border: 1px solid black;
}
.input:focus{
    outline: none;
   box-shadow: 1px 1.4px 1px orange,1px -1.4px 1px orange;

}
.input1{
 height: 40px;
    font-size: 25px;
    color:rgba(77, 77, 77, 0.9);
    padding: 0.2rem;
    margin-bottom: 0.4rem;
}
.button_div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Submit_button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 45px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: orangered;
  
    border: 1px solid black;
}
.mid_part{
    width: 100vw;
    height: 80vh;
    margin-top:2.5rem;
    padding-top: 1rem;
}
.id_part_container{
   
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.mid_heading{
    color:rgba(77, 77, 77, 0.9);
    font-size: 40px;
  
}
.line{
    display: flex;
    justify-content: center;
    margin-top: 0.8rem;
    padding-top: 0.2rem;
    gap: 1rem;
}
hr{
    height: 3.5px;
    width: 50px;
    background-color: orangered;
    text-align: center;
}
.card{
    height: 76%;
    width: 100vw;
    margin-top: 1rem;
}
.card_container{
    height: 100%;
    width: 75vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.card_grid{
    display: grid;
    grid-template-columns: repeat(2 ,450px);
    
   
    
}
.card_item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    
    
    
}
.card_logo{
    height: 40px;
    width: 40px;
}
.card_heading{
    text-align: center;
    font-size: 20px;
    color: rgba(12, 21, 77, 1);
    font-weight: 700;
}
.card_desc{
    text-align: center;
    color: rgba(77, 77, 77, 0.9);
    font-size: 18px;
    width: 75%;
    line-height: 1.5rem;
}
.Treatement{
    background-color: rgb(159, 198, 46);
    height: 92vh;
    width: 100vw;
    margin-top: 2rem;
    padding-top: 3rem;
}
.treatement_container{
    width: 94%;
    height: 100vh;
    margin: 0 auto;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.treatment_heading{
    text-align: center;
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 40px;
    margin-bottom: 1rem;
    
}
.treament_dec{
    width: 100%;
    display: flex;
    justify-content: center;
    color:rgba(255, 255,255, 0.8);
    margin-top: 0.5rem;
}
.desc1{
    font-size: 18px;
    width: 53%;
    text-align: center;
}
.treatment_grid{
    width: 80vw;
    margin:0 auto;
    margin-top: 2.5rem;
  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding-top: 0.4rem;
}
.treatment_grid_container{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.logos{
    height: 183px;
    width: 183px;
}
.treatment_logo_dies{
    color: white;
    font-size: 16px;
    line-height: 1.5rem;
    text-align: center;
}
.Comprehensive_dental{
    height: 140vh;
    width: 100vw;
    margin-top: 2rem;
    padding-top: 1rem;
}
.comprehensive_dental_container{
  
  width: 80vw;
  margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.Comprehensive_heading{
    font-size: 33px;
    color: rgba(74,74,74);
}
.comprehensive_grid{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 3rem;
    margin-top: 0.8rem;
}
.conprehensive_grid_item{
    display: flex;
    gap: 0.9rem;
    justify-content: center;
    align-items: center;
}
.prehensive_icon{
    height: 60px;
    width: 60px;
}
.comprehensive_text{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-top: 0.7rem;
   gap: 0.6rem;
}
.text1{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
}
.text2{
    color: rgba(77, 77, 77, 0.9);
    font-size: 18px;
    line-height: 28.8px;
}
.FAQ{
    height: 50vh;
    width: 100vw;
}
.FAQ_Container{
    height: 100%;
    width: 70vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.FAQ_heading{
    text-align: center;
    font-size: 35px;
}
.QuetionContainer{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
#Q{
    font-size: 20px;
    color: black;
    font-weight: 700;
    height: 40px;
    margin: 0.4rem;
    /* border: 1px solid greenyellow; */
}
.footer{
    margin-top:3rem ;
    padding: 1rem;
    height: 80vh;
    width: 100vw;
   background-color: beige;
    
}
.footer_container{
    width: 60%;
    height: 83%;
    margin: 0 auto;
     display: flex;
     flex-direction: column;
     align-items: center;
    /* justify-content: center; */
    padding-top: 1rem;
    background-color: white;
    gap: 1rem;
    margin-top: 2rem;
    border-radius:10spx ;

}
.footer_logo{
    height: 120px;
    width: 120px;
}
.footer_desc{
    color: rgba(77, 77, 77, 0.9);
    font-size: 18px;
    text-align: center;
    width: 50%;
    line-height: 32.4px;
}
.name{
    font-size: 18px;
    font-weight: 600;
}
.Submit_button{
    width: 37%;
}
.Submit_button:hover{
    background-color: black;
    color:white;
}
#Q{
    margin-bottom: 0.7rem;
}